.body{
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  height: 100%;
}

.consulta{
  text-align: center;
  mat-form-field{
    padding: 10px;
  }
}

.table{
  height: 80vh;
  padding: 10px;
  max-width: 100%;
  overflow: auto;
  button{
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
