<div @fadeInOut id="body">
  <mat-tab-group [selectedIndex]="selectedIndex">
    <mat-tab label="Actualizar Membresia">
      <!-- content of update memberShip -->

      <section class="formContainer">
        <div class="dates mat-elevation-z8">
          <span>{{message}}</span> <br><br>
          <mat-form-field class="nombres" appearance="outline">
            <mat-label>Nombre completo</mat-label>
            <input type="text" matInput placeholder="Nombres" (keyup)="buscarNombre()"
              [(ngModel)]="input" name="input" autocomplete="off">
          </mat-form-field> <br>
          <mat-form-field appearance="outline">
            <mat-label>Id Usuario</mat-label>
            <input matInput placeholder="Id" name="id" type="number"
              [(ngModel)]="inputId" (keyup)="buscarId()" autocomplete="off">
          </mat-form-field>
          <br>
          <img class="img" [src] = "pathImg" width="150px"> <br>
          <mat-checkbox [checked]="membresia.estudiante" (change)="changeEstudiante()">Estudiante</mat-checkbox><br>
        </div>
        <form>
          <span> Monto A Pagar: {{membresia.monto}} </span> <br> <br>
          <mat-form-field appearance="outline">
            <mat-label>Pagar</mat-label>
            <input matInput placeholder="$" type="number" min="0" autocapitalize="off"
              (keyup)="darCambio()" [disabled]="showPago" [(ngModel)]="pago" name="pago">
            <mat-hint>Cambio: {{cambio}}</mat-hint>
          </mat-form-field> <br> <br>
          <button mat-raised-button type="submit" (click)="renovar()" [disabled]="showPago">Renovar</button>
        </form>
      </section>
    </mat-tab>

    <mat-tab label="Registro de Membresias">
      <!-- content of membership register -->

      <section class="registros">
        <div class="calendario">
          <mat-form-field>
            <mat-label>Fecha De Registros</mat-label>
            <input matInput [matDatepicker]="picker1" (dateChange)="setFecha($event)" [value] = "fecha" [disabled]="allFechas">
            <mat-hint class="hint">MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-checkbox [checked]="allFechas" (change)="changeFecha()">Todas las fechas</mat-checkbox>
        </div>

        <div class="table">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="idUsuario">
              <th mat-header-cell *matHeaderCellDef> IdUsuario </th>
              <td mat-cell *matCellDef="let registros"> {{registros.idUsuario}} </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let registros"> {{registros.nombres}} </td>
            </ng-container>

            <ng-container matColumnDef="fechaPago">
              <th mat-header-cell *matHeaderCellDef> Fecha Pago </th>
              <td mat-cell *matCellDef="let registros"> {{registros.fechaPago}} </td>
            </ng-container>

            <ng-container matColumnDef="monto">
              <th mat-header-cell *matHeaderCellDef> Monto </th>
              <td mat-cell *matCellDef="let registros"> ${{registros.monto}} </td>
            </ng-container>

            <ng-container matColumnDef="pago">
              <th mat-header-cell *matHeaderCellDef> Pagó </th>
              <td mat-cell *matCellDef="let registros"> ${{registros.pago}} </td>
            </ng-container>

            <ng-container matColumnDef="cambio">
              <th mat-header-cell *matHeaderCellDef> Cambio </th>
              <td mat-cell *matCellDef="let registros"> ${{registros.cambio}} </td>
            </ng-container>

            <ng-container matColumnDef="pdf">
              <th mat-header-cell *matHeaderCellDef> PDF </th>
              <td mat-cell *matCellDef="let registros" (click)="downloadPdf(registros.idUsuario, registros.fechaPago)">
                <mat-icon>cloud_download</mat-icon>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
      </section>
    </mat-tab>
  </mat-tab-group>
</div>
